* {
	box-sizing: border-box;
}
.w-300 {
	width: 300px;
}
.h-200 {
	height: 200px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.question-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
	border-radius: 4px;
}
.question-author-container {
	display: flex;
	border-bottom: 2px solid #ebf1f4;
}
.question-author-title {
	margin: 0 auto;
	font-weight: 900;
}
.question-image > img {
	width: 50px;
	height: 50px;
}
.btn {
	padding: 8px 18px;
	font-size: 18px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
	font-weight: 200;
	background-color: #ffffff;
}
.btn:hover {
	background-color: var(--primary-color);
	color: #ffffff;
}
.btn:active {
	transform: scale(1.03);
}
.btn-outline {
	background-color: #ffffff;
	border: 2px solid #3f51b5;
}
img {
	width: 50px;
	height: 50px;
}

.answers {
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 10px;
}
.answers > label {
	margin-top: 10px;
}
.option {
	padding: 20px;
	margin-top: 10px;
	border: 1px solid #3f51b5;
}
.option.active {
	background: #b9b9e0;
}
.notFound {
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
}