.nav {
	display: flex;
	font-size: 19px;
	background-color: #8936b3;
	flex-wrap: wrap;
}
.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: left;
}
.navItem {
	margin-left: 20px;
	padding: 10px;
	border-radius: 4px;
}
.navLink {
	font-weight: bolder;
	color: #ffffff;
}
